@model  IdentifyWeb.Models.EmergencyContactViewModel


@{

    Layout = null;
    var newGuid = Guid.NewGuid();
    ViewBag.Guid = newGuid;

    ViewData.TemplateInfo.HtmlFieldPrefix = string.Format("{0}[{1}]", "EmergencyContactViewModels", newGuid);
}

<script type="text/javascript">

    $(document).ready(function () {
        $("a.deleteRow").on("click", function () {
            $(this).closest("div.partial").remove();
            return false;
        });

    });

</script>

<div class="partial">

    <input type="hidden" name="EmergencyContactViewModels.Index" value=@ViewBag.Guid.ToString() />
    @Html.HiddenFor(model => model.PersonsAttributeId)
    @Html.HiddenFor(model => model.PersonsAttributeCategoryId)


    <div class="form-group">

        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.EditorFor(x => x.FirstName, new { @class = "form-control", data_val = "true", data_val_required = "The First Name field is required." })
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.LastName, new {@class = "col-md-2 control-label"})

        <div class="col-md-10">
            @Html.EditorFor(x => x.LastName, new {@class = "form-control", data_val = "true", data_val_required = "The Last Name field is required."})
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.Alias, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.EditorFor(x => x.Alias, new { @class = "form-control", data_val = "true", data_val_required = "The Alias field is required." })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.EditorFor(x => x.PhoneNumber, new { data_val = "true", data_val_required = "The PhoneNumber field is required." })
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-10">
            <a href="#" class="deleteRow">Delete</a>
        </div>
    </div>

</div>
