@model  IdentifyWeb.Models.EmergencyContactViewModel


@{

    Layout = null;
    var newGuid = Guid.NewGuid();
    ViewBag.Guid = newGuid;

    ViewData.TemplateInfo.HtmlFieldPrefix = string.Format("{0}[{1}]", "EmergencyContactViewModels", newGuid);
}

<script type="text/javascript">

    $(document).ready(function () {
        

    });

    function deleteRow(caller) {

        var div = $(caller).closest("div.partial");

         //alert(div.attr('id'));

        var personsAttributeId = $(div).children('[id$="PersonsAttributeId"]:first').attr("value");

        if (personsAttributeId == null || personsAttributeId == "")
        {
            $(div).closest("div.partial").remove();
        }
        else
        {
            var modifyActionRequiredHf = $(div).children('[id$="ModifyActionRequired"]:first');

            $(div).hide();
            $(modifyActionRequiredHf).val("Delete");
        }


        return false;
    }
     

</script>

<div class="partial" hidden="@(Model.ModifyActionRequired == IdentifyWeb.ControllerHelper.Enumerations.ModifyActionRequired.Delete? "hidden" : null)">

    <input type="hidden" name="EmergencyContactViewModels.Index" value=@ViewBag.Guid.ToString() />
    @Html.HiddenFor(model => model.PersonsAttributeId)
    @Html.HiddenFor(model => model.PersonsAttributeCategoryId)
    @Html.HiddenFor(model => model.PhoneNumberSubAttributeId)
    @Html.HiddenFor(model => model.PersonalSubAttributeId)
    @Html.HiddenFor(model => model.ModifyActionRequired)

    <div class="form-group">

        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.EditorFor(x => x.FirstName, new { @class = "form-control", data_val = "true", data_val_required = "The First Name field is required." })
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.LastName, new {@class = "col-md-2 control-label"})

        <div class="col-md-10">
            @Html.EditorFor(x => x.LastName, new {@class = "form-control", data_val = "true", data_val_required = "The Last Name field is required."})
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.Alias, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.EditorFor(x => x.Alias, new { @class = "form-control", data_val = "true", data_val_required = "The Alias field is required." })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.EditorFor(x => x.PhoneNumber, new { data_val = "true", data_val_required = "The PhoneNumber field is required." })
        </div>
        
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <a href="#" class="deleteRow" onclick="deleteRow(this)" >Delete</a>
        </div>
    </div>

</div>
