
@using IdentifyWeb.Models
@model IdentifyWeb.Models.PersonSectionViewModel
@{
    ViewBag.Title = "Manage";
}
PARTIAL LINK
@{


 

    if (Model.PersonLinks != null)
    {
        foreach (var personLinkDto in Model.PersonLinks)
        {

            
            <div>
                @Html.Label(@personLinkDto.FirstName)
                @Html.Label(@personLinkDto.LastName)
                (@Html.Label(@personLinkDto.Alias))
                <br />
                  @personLinkDto.EditUrl
                <br />
                @personLinkDto.DeleteUrl
                <br />
                <br />
                <br />

            </div>
        }
    }


}