
@using IdentifyWeb.Models
@model IdentifyWeb.Models.PersonSectionViewModel
@{
    Layout = null; //Disables the footer from getting rendered
    ViewBag.Title = "Manage";
}

@*<script type="text/javascript">

    $(document).ready(function () {

        $('#btnTest').click(function (e) {

            $.ajax({
                url: "/ManagePerson/AddEmergencyContact",
                success: function (student) {
                    var stdnt = "ID: " + student.ID + "<br/>"
                        + "Name: " + student.Name + "<br/>"
                        + "Grades: " + student.Grades;
                    $("#yolo").html(stdnt);
                }
            });

            alert("yolo");
        });

    });

</script>*@

@{
    if (Model.PersonLinks != null)
    {
        foreach (var personLinkDto in Model.PersonLinks)
        {

            
            <div>
                @Html.Label(@personLinkDto.FirstName)
                @Html.Label(@personLinkDto.LastName)
                (@Html.Label(@personLinkDto.Alias))
                <a href=@personLinkDto.EditUrl>Edit</a> |
                <a href=@personLinkDto.DeleteUrl>Delete</a>
                <br/>
                <br />
            </div>
        }
    }
}